<div id="posts-container">
  <h1 id="page-title"><%= @user.username %>'s posts</h1>
    <%= for post <- @posts do %>
      <div class="row row-top-bottom-padding">
        <div class="col-xs-12">
          <h2><%= link post.title, to: user_post_path(@conn, :show, @user, post) %></h2>
          <%= markdown(post.body) %>
        </div>
      </div>
    <% end %>
</div>

<%= link "New post", to: user_post_path(@conn, :new, @user) %>
