<h1 id="page-title"><%= @post.title %></h1>

<%= markdown(@post.body) %>
</br>
<span class="piped-links">
<%= link "Edit", to: user_post_path(@conn, :edit, @user, @post) %>
<%= link "Back", to: user_post_path(@conn, :index, @user) %>
<%= link "Delete", to: user_post_path(@conn, :delete, @user, @post), method: :delete, data: [confirm: "Are you sure?"] %>
</span>
