<div class="jumbotron">
  <h1>Welcome</h1>
  <p class="lead">Click on an author below to see their posts.</p>
</div>

<div class="row">
  <div class="col-xs-12">

    <%= for user <- @users do %>
      <div><%= user.username %> - <%= user.email %></div>
      <%= for post <- @posts do %>
        <div><%= post.title %></div>
      <%= end %>
      <br/>
    <%= end %>

  </div>
</div>
